<header class="header">
    <a href="#" class="logo">Jignesh Parmar</a>
    <i class='bx bx-menu' id="menu" style='color:#ffffff'></i>
    <nav class="navbar">
        <!-- <a href="javascript:void()" routerLink="home" style="--vlr:1" class="active">Home</a>
        <a href="javascript:void()" routerLink="about-me" style="--vlr:2">About Me</a>
        <a href="javascript:void()" routerLink="education" style="--vlr:3">Education</a>
        <a href="javascript:void()" routerLink="skills" style="--vlr:4">Skills</a>
        <a href="javascript:void()" routerLink="contact-me" style="--vlr:5">Contact Me</a> -->
        <a routerLink="home" routerLinkActive="active" style="--vlr:1">Home</a>
        <a routerLink="about-me" routerLinkActive="active" style="--vlr:2">About Me</a>
        <!-- <a routerLink="education" routerLinkActive="active" style="--vlr:3">Education</a> -->
        <a routerLink="skills" routerLinkActive="active" style="--vlr:4">Skills</a>
        <a routerLink="projects" routerLinkActive="active" style="--vlr:4">Projects</a>
        <a routerLink="contact-me" routerLinkActive="active" style="--vlr:5">Contact Me</a>
    </nav>
</header>