<!-- *************************Project Section************************* -->
<!-- <section class="home" id="home">
    <div class="text-content">
        Recruitement Tracker
            It was Recruitement base live project made for company during intership where it has diffirent roles diffrence roles were having 
            diffrent premisisons jobs got created by HR when  someone was applying those it was than send to interviewr for interview and techical interview was also there
            after completign this process intervirwer give feedback and commennt based on that he seleect status of candidate. based on jobs,selection add chart was created 
            it was having so many functinalities.
        Rotary Ticket
            It is Developed for Rotary Dolls Musium which is having big name as "Rotary International" 
            it is having diffrent roles where We Can create Tickets can create multiple tickets based on that ticket will get generate.
            it will print using printer which is basically ticket like Bill in dmart.
            Report will be generated fuklly dynamic.Also there was other options to maintain stacks of store and keep records of buying and selling so they can track 
            sales and growth.
        Skill Evalution
            it was developed For eveluting employed we can upload bulk upload questions and answers with excels 
            it will than take test of it and result admin will get to know of obtained marks practical round also was there
            evaluting practical code was from other third party api we just need to upload zip at there and git link.

        Project Tracker
            It was made for keep track of servers of local,staging,live notification system was aslo implemented on that.
        i360
            It was live project of product based which provide services like market entries,breaffings, Pricequote astimations on products,tracting activities of full system.
            It was big poject to explain.
        Inteserra
            There was 33 Providers I worked on where they were providing services regarding cheap tablets providing by there goverment and 
            user can register from there they can internally move to one provider to another provider like in here GTPL we can move one provider to another provider.they are providing phone services, internet services etc.
            Inteserra provides expert telecommunications business and regulatory advisory services, training, project management, regulatory compliance reporting and informational web-based solutions
        RBZ Zoho+ sprint Based
            In this Zoho Sprint and Zoho People's api was used to directly add tickets to zoho using our internal product where we can keep track of everthng
            syncing to storing infomation of logs and other details of employes and used it for evaluting them for KPI(Key Perfomace Indecator)
            where they will get to know about how much time they have log and how much work they have done to keep everthing in systematic manner
            Project managers they can select range of dates to share reporting one all details like status of project how many tasks are done and what is pending and upcoming
            which are tasks that is delivarable.
        Complain Tracker(Daikin)
            It was Complain Based Project which was of Daikin Company.It was made using anguakr 19.1 which is one level downto letest Angular
            worked in that and learned new things about angualar 19 and new features

        Other Projects That is developed as Freelencing
        Shlokayurveda(ECommerce Based Wepsite)
            It it E com base site where People can By product and email send it to admin where they can direclty call to buyer and comfirm
            about details COD is implemented uptil now.
        CNCVMCV which was basically Certification based  wepsite where Admin can insert record about students which he is teaching 
        and create generate multiple certificates in single click which we generated unique id person can check authenticate those on wepsite
        name and other details will automatically get set to image of certificate.

        Other Fun Projects
        Real Time Chat App : Using Web Socket In Node.js and Angular 16 where at diffrent place they can create room if both room name matches
        they will get connected with each other and they can talk real time. they will get notify in screen that another person got joined
        it's annonymously talking chat site where only those who wants to talk without using social media they can join and talk.
        Name is optinal interface is like whatapp screen after joining room it can further desing properly.

        Signature Draw: We can draw signature using that site and download PDF/Image for the same and they will have diffrent colours option even 
        colour selector for selecting pan colour.

        One Line Draw: Just made using HTML where we only can play in PC where one dot like snail will start moving we can make drwaing out of it
        it will not stop moving it was just made for fun.
        
        Portfolio: This site is created in angular 16 Just for my information purpose using HTML/CSS/JS templete Converted into Angular.
    </div>
  </section> -->
  

  <!-- ************************* Projects Section ************************* -->
<section class="projects" id="projects">
    <div class="container">
      <h1 class="section-title">Projects</h1>
      <div class="project-list">        
  
        <div class="project">
            <h2>Inteserra(Live)</h2>
            <p>
                Worked on integrating 33 providers offering services such as affordable tablets, phone services, and internet connections, often funded by government programs. Users could register and transition between providers seamlessly, similar to how customers switch ISPs like GTPL. Inteserra specializes in telecommunications business advisory services, regulatory compliance, project management, training, and web-based solutions.
            </p>
        </div>  
        
        <div class="project">
            <h2>i360(Live)</h2>
            <p>
                A product-based live project offering services like market entry analysis, briefings, price quote estimations,
                and activity tracking across systems. This extensive project had numerous features to streamline workflows and
                provide comprehensive insights.
            </p>
        </div>

        <div class="project">
            <h2>Complaint Tracker(Live)</h2>
            <p>
                A complaint management system developed for Daikin, using Angular 19.1. This project provided valuable insights into Angular's latest features and streamlined complaint handling.
            </p>
        </div>   

        <div class="project">
            <h2 style="white-space: nowrap;">RBZ (Zoho + Sprint-Based)</h2>
            <p>
                Implemented Zoho Sprint and Zoho People APIs to directly integrate ticketing features into the company’s internal systems. This allowed for tracking logs, managing employee details, and evaluating Key Performance Indicators (KPIs). The project enabled project managers to generate detailed reports by selecting date ranges, showcasing project statuses, completed tasks, pending items, and upcoming deliverables.
            </p>
        </div>
        
        <div class="project">
            <h2>Recruitment Management System</h2>
            <p>
                During my internship, I developed a Recruitment Management System to streamline the hiring process with features
                like role-based access control for HR, interviewers, and technical panels. HR could create detailed job
                postings, and candidates could apply, with applications routed to interviewers for screening and technical
                evaluations. Interviewers provided feedback, and candidate statuses were updated accordingly. A dynamic
                dashboard displayed insights such as job-wise applications, selection metrics, and hiring process charts. The
                system also included features like interview notifications, user activity tracking, and permission-based access
                to ensure smooth operations and secure data management.
            </p>
        </div>
  
        <div class="project">
          <h2>Rotary Ticket</h2>
          <p>
            This system was developed for the Rotary Dolls Museum, part of Rotary International, to manage ticketing, reporting, and inventory. It allowed users to create multiple tickets at once, which could be printed like small receipts, similar to bills at D-Mart. The system also generated dynamic reports to track ticket sales and visitor trends. Additionally, it helped manage inventory by keeping records of stock, purchases, and sales, making it easy to track growth and operations.
          </p>
        </div>
  
        <div class="project">
          <h2>Skill Evaluation</h2>
          <p>
            A platform designed for employee evaluations. It allowed bulk uploading of questions and answers via Excel files, conducting tests, and generating results for admin review. A practical round was also integrated, where uploaded zip files or Git links were evaluated using a third-party API. The system streamlined the skill evaluation process and enhanced assessment accuracy.
          </p>
        </div>
  
        <div class="project">
          <h2>Project Tracker</h2>
          <p>
            Built to monitor servers (local, staging, and live). It included a notification system for status updates and alerts, ensuring efficient tracking of server activities.
          </p>
        </div>

      </div>

      <h1 class="section-title">Freelancing Projects</h1>
        <div class="project-list">
            <div class="project">
                <h2>Shlokayurveda (E-Commerce Website)</h2>
                <p>
                    An e-commerce website allowing customers to purchase products online. Orders triggered email notifications to administrators for verification and confirmation. The platform currently supports Cash on Delivery (COD) and streamlines the buying process.
                </p>
            </div>
            <div class="project">
                <h2>CNCVMCV (Certification Website)</h2>
                <p>
                    A certification-based platform for administrators to manage student records and generate multiple certificates with a single click. Each certificate includes a unique ID for verification purposes, enabling users to authenticate their details online. The system auto-generates name and other certificate details.
                </p>
            </div>
        </div>

        <h1 class="section-title">Fun Sites</h1>
        <div class="project-list">
            <div class="project">
                <h2>Real-Time Chat App</h2>
                <p>
                    A real-time chat application built using WebSocket with Node.js and Angular 16. Users can create chat rooms and connect with others if room names match. The platform notifies users when someone joins their room, enabling anonymous conversations. The interface resembles a WhatsApp screen, and the design can be further enhanced.
                </p>
            </div>
            <div class="project">
                <h2>Signature Draw</h2>
                <p>
                    A platform to create digital signatures with options to select pen colors using a color picker. Users can download the signatures in PDF or image format.
                </p>
            </div>
            <div class="project">
                <h2>One Line Draw</h2>
                <p>
                    A fun project where a moving dot resembling a snail continuously draws a line. Designed purely for entertainment, the game is playable on PCs.
                </p>
            </div>
            <div class="project">
                <h2>Portfolio Website</h2>
                <p>
                    A personal portfolio website created using Angular 16. The HTML/CSS/JavaScript template was converted into an Angular application to showcase personal projects and details.
                </p>
            </div>
        </div>

    </div>
  </section>