<!-- *************************Contact Section************************* -->
<!-- <section class="contact start-animation" id="contact">
    <h2 class="title">Contact <span>Me</span></h2>
<form action="#" id="">
      <div class="input-box">
            <input type="text" required placeholder="Full Name">
            <input type="email" required placeholder="Email">
      </div>
      <div class="input-box">
            <input type="tel" required placeholder="Mobile Number">
            <input type="email" required placeholder="Subject For">
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="Message" required></textarea>
      <input type="submit" value="Send Message" class="btn">
</form>
</section> -->


<!-- *************************Contact Section************************* -->
<section class="contact start-animation" id="contact">
      <h2 class="title">Contact <span>Me</span></h2>
    
      <!-- Contact Details -->
      <div class="contact-card">
          <div class="contact-item">
              <h3>Email</h3>
              <a href="mailto:jignesh.parmar.201098@gmail.com" class="contact-link">
                  jignesh.parmar.201098&#64;gmail.com
              </a>
          </div>
          <div class="contact-item">
              <h3>Phone</h3>
              <a href="tel:+918780818623" class="contact-link">
                  +91 8780818623
              </a>
          </div>
          <div class="contact-item">
              <h3>Address</h3>
              <p>Piplata, Mitral Road Gokad Pura,Nadiad</p>
          </div>
      </div>
  </section>