
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0;
  }
  
  /* Section styles */
  .section {
    margin: 30px auto;
    padding: 20px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .section:hover {
    transform: scale(1.05);
  }
  
  /* Title styling */
  .section-title {
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
  }
  
  .section-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #fff;
    bottom: -5px;
    left: 0;
    animation: glow 1.5s ease-in-out infinite;
  }
  
  /* Skills List */
  .skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
  }
  
  .skill-item {
    margin: 15px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    position: relative;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .skill-item::before {
    content: "⭐";
    position: absolute;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff6a00;
  }
  
  .skill-item:hover {
    background: #ff6a00;
    color: #fff;
    transform: translateX(10px);
  }
  
  /* Education List */
  .education-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
  }
  
  .education-list li {
    margin: 10px 0;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-weight: bold;
  }
  
  .education-list li:hover {
    background: #ff6a00;
    color: white;
  }
  
  /* Animation for glowing effect */
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #ff6a00, 0 0 20px #ff6a00, 0 0 30px #ff6a00;
    }
    50% {
      text-shadow: 0 0 10px #ff6a00, 0 0 20px #ee0979, 0 0 30px #ff6a00;
    }
    100% {
      text-shadow: 0 0 10px #ff6a00, 0 0 20px #ff6a00, 0 0 30px #ff6a00;
    }
  }
  

  .skill-category {
    margin-bottom: 20px;
}

.category-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0099bd;
}
