<!-- *************************Home Section************************* -->
<section class="home" id="home">
  <div class="text-content">
      <h1>I'm Jignesh Parmar</h1>
      <div class="text-animation" style="white-space: nowrap">
          <h2>Full Stack Developer(Dot Net + Angular)</h2>
      </div>
    <p>
        As a Full Stack Developer, I build strong and scalable applications using .NET Web API and Angular. I create RESTful
        APIs with .NET to connect the front-end and back-end smoothly. On the front-end, I use Angular to design dynamic and
        responsive user interfaces for modern web apps.
    </p>
    <p>
        With .NET Web API, I create secure and efficient back-end services that can grow with the business. I use tools like
        Entity Framework, MVC, and JWT for secure authentication. On the front-end, Angular helps me build fast, single-page
        applications (SPA) that work well on any device or browser.
    </p>
    <div class="text-animation" style="white-space: nowrap">
        <!-- class="text-animation" -->
        <h2 style="font-size: 3.2rem;"> <span style="color:#0099bd;">Experience :</span> Dec 2022 To PRESENT (2 Years)</h2> 
    </div>

      <div class="btn-section">
          <!-- <button class="btn">Hire me</button>
          <button class="btn">Let's Talk</button> -->
          <a href="tel:+918780818623">
              <button class="btn" style="height: 50px;">Let's Talk</button>
          </a>
          <a href="https://wa.me/918780818623?text=Hi%20Jignesh,%20we%20have%20seen%20your%20portfolio%20and%20want%20to%20connect%20with%20you" target="_blank">
            <button class="btn" style="height: 50px;">Let's Talk on WhatsApp</button>
          </a>
      </div>
      <div class="social-media">
  <!-- <i class='bx bxl-twitter' style="--vlr:7"></i>
  <i class='bx bxl-facebook' style="--vlr:8"></i>
  <i class='bx bxl-youtube' style="--vlr:9"></i> -->
      </div>
  </div>
  <div class="image-container">
      <img src="assets/Jignesh.png" alt="Jignesh" class="aboutImg">
  </div>
</section>
